@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

html {
  box-sizing: border-box;
}

body {
  background: grey;
  margin: 0;
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  font-family: Nunito, sans-serif;
}
.image{
  color: black;
  margin: 0 auto;
  z-index: 2;
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  justify-content: center;
}
/* Container */
.container {
  min-width: 580px;
  min-height: 304px;
  color: black;
  margin: 0 auto;
  padding: 25px 50px;
  border-radius: 5px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  justify-content: center;
}

.input-container {
  position: relative;
  top: 20px;
}

h1 {
  font-size: 35px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}
p1{
  text-align: center;
}
/* Form */
.form {
  width: 480px;
}

label {
  font-weight: bold;
  margin-left: 10px;
}

input {
  width: 95%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: #fff;
  outline: none;
  font-family: Nunito, sans-serif;
}

/* Button */
button {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  margin-top: 15px;
  border: none;
  text-transform: uppercase;
  background: #006959;
  color: white;
  cursor: pointer;
  outline: none;
}

button:hover {
  filter: brightness(110%);
}

/* Countdown */
ul {
  margin-left: -45px;
}

li {
  display: inline-block;
  font-size: 30px;
  list-style-type: none;
  padding: 10px;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 80px;
  text-align: center;
}

/* Complete */
.complete {
  position: relative;
  top: 60px;
}

.complete-title {
  animation: complete 4s infinite;
}

@keyframes complete {
  0% {
    color: rgb(233, 12, 12);
  }

  25% {
    color: rgb(214, 193, 0);
  }

  50% {
    color: rgb(68, 231, 19);
    transform: scale(1.5);
  }

  75% {
    color: rgb(19, 79, 209);
  }

  100% {
    color: rgb(188, 16, 211);
  }
}
