body {
    background:#fffeb3;
}

#container {
    background-image:url("https://wallpaperaccess.com/full/5046024.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:auto;
    width: 100%;
    height: 120%;
    font-family: 'Londrina Solid', cursive;
}

.main-container {
    width: 80%;
    text-align: center;
    margin: auto;
}

.ptSans {
    color: black;
    font-weight: 900;
    text-shadow:0.25px 0.5px rgba(255,255,255,0);
    font-family: 'PT Sans', sans-serif;
}

h1 {
    width: 100%; 
    margin: auto;
    padding-top: 25%;
    padding-bottom: 10px;
    font-size: 48px;
}

.bottom {
    padding-bottom: 10%;
}

#guess {
    color:#6fcb9f;
    margin: auto;
    font-weight:bold;
    text-shadow:0.25px 0.5px rgba(255,255,255,0.7);
    font-size: 52px;
    margin-bottom: 45px;
}

.body-container {
    text-align: center;
    width: 80%;
}

.size {
    color:#6fcb9f;
    font-weight:600;
    text-shadow:0.25px 0.5px rgba(255,255,0,0);
    font-size: 28px;
    text-align: left;
    padding-left: 43%;
    margin-bottom: 30px;
}

.sizeNumber {
    font-size: 28px;
    text-align: left;
    margin-bottom: 30px;
    padding-right: 30px;
}

#img {
    margin: 0 auto;
}

#winImage {
    width:300px;
}